@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-layout {
  grid-template-areas:
    "header"
    "content";
}

@media (min-width: 768px) {
  .main-layout {
    grid-template-areas:
      "header header"
      "sidebar content";
  }
}

/* Track */
::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 1024px) {
  /* Track */
  ::-webkit-scrollbar {
    width: 8px;
  }
}

/* Track background */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d91e18;
}
